# =============================================
# PostgreSQL Configuration
# =============================================
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_password
POSTGRES_DB=etl_incremental

# =============================================
# pgAdmin Configuration
# =============================================
PGADMIN_DEFAULT_EMAIL=tu_email@example.com
PGADMIN_DEFAULT_PASSWORD=tu_password_pgadmin
